<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form method="POST">
    {% csrf_token %}
    <label for="f_id">f_id</label><br>
    <input type="text" id="f_id" name="f_id"><br>
  </form>
  <!-- <input type="submit" name="Save Changes" class="btn btn-success m-0" value="Save Changes"> -->
     <a class="btn btn-primary mt-0" href="{% url 'gpu' %}" > submit </a>
    
</body>
</html>