<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gpu is on ideal position</h1>
    <a  href="http://127.0.0.1:8000/off_gpu"   role="button">set the GPU to off position</a> 
        <!-- {% csrf_token %} -->
        
         
    <hr>
    
    <a  href="http://127.0.0.1:8000/running_gpu"   role="button">set the GPU to running position</a> 
         
</body>
</html>